$color-text: #c4c4c4;
$color-light-xl: #ffffff;
$color-light-l: #f9fafb;
$color-light-s: #fafafa;
$color-dark-s: #c0c0c0;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;


$color-primary: #181818;
$color-secondary: #000000;
$color-primary-light: #b2b2b2;

$content-width: 1440px;

$breakpoints_desktop: 980px;
$breakpoints_tablet: 720px;
$breakpoints_mobile: 400px;
